body {
    margin: 0px;
    text-align: center;
    background-color: #F6F1E9;
}

h1{
    font-size: 80px;
}

#wrapper{
display: flex;
justify-content: center;
}

#time{
    display: grid;
    color: white;
    grid-template-columns: 70px;
    grid-template-rows: 100px 150px;
    justify-content: center;
    font-size: 50px;
    width: 600px;
    border-radius: 50px;
    background-color: #ABC4AA;
}

#date{
    transform: translate(45px);
}

#time{
    width: 600px;
}

#hr{
    transform: translate(20px);
    padding-right: 10px;
    grid-row: 2;
}

#min{
    grid-row: 2;
}

#sec{
    grid-row: 2;
}

#amPM{
    padding-left: 10px;
    grid-row: 2;
}